<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="loginStyle.css">
</head>
<body>
<div class="login-form">
    <img class="logo" src="/img/NotesLogo.png" alt="Logo">
    <h1>Login</h1>
    <p>Enter your credentials</p>
    <form action="/login" method="post">
        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="button-container">
            <button class="button" type="submit">Login</button>
        </div>
        <!-- Отображение ошибки -->
        <a href="/recover"><p th:if="${error}" class="error-message">
            Forgot password?
            </a>
    </form>
</div>
</body>
</html>
