<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="notesStyle.css">
    <title>Auth Page</title>
</head>
<body>
<div class="background-container" th:style="'background-image: url(' + ${selectedBackground} + ');'"></div>
<div class="black-rectangle"></div>
<div class="logo-container" onclick="toggleSettingsTab()">
    <img class="logo" th:style="'background-image: url(' + ${selectedAvatar} + ');'" onclick="handleLogoClick(event)">
    <div class="username" id="username" onclick="handleUsernameClick(event)"></div>
    <div class="arrow" id="arrow"></div>
</div>

<div class="settings-tab" id="settingsTab">
    <div class="tab-button" onclick="openProfile()">Profile</div>
    <div class="tab-button" onclick="openBigSettingsWindow()">Settings</div>
    <div class="tab-button" onclick="logout()">Logout</div>
</div>

<div class="profile-window" id="profileWindow">
<!--    <h2>User Profile</h2>-->
    <p><h2>User Profile</h2></p>
    <span class="close-button" onclick="closeProfile()">&#10006;</span>
    <p><strong>Username:</strong> <span id="profileUsername" th:text="${profileUsername}"></span></p>
    <p><strong>Email:</strong> <span id="profileEmail" th:text="${profileEmail}"></span></p>
</div>

<div class="big-settings-window" id="bigSettingsWindow">
    <span class="close-button" onclick="closeBigSettingsWindow()">&#10006;</span>
    <h2>Выберите себе аватарку</h2>
    <div class="avatars">
        <div class="avatar">
            <img src="/img/avatar.png" alt="Avatar 1" class="avatar-image" onclick="selectAvatar(this)">
        </div>
        <div class="avatar">
            <img src="/img/Avatar_Lin.png" alt="Avatar 2" class="avatar-image" onclick="selectAvatar(this)">
        </div>
    </div>
    <h2>Выберите задний фон</h2>
    <div class="backgrounds">
        <div class="background">
            <img src="/img/back.png" alt="Background 1" class="background-image" onclick="selectBackground(this)">
        </div>
        <div class="background">
            <img src="/img/back2.jpg" alt="Background 2" class="background-image" onclick="selectBackground(this)">
        </div>
    </div>
    <script src="notesScript.js"></script>
</body>
</html>
