<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recover Password</title>
  <link rel="stylesheet" href="recoverStyle.css">
</head>
<script>
  $(document).ready(function() {
    $(".button").click(function() {
      $(".login-form").animate({ width: "500px", height: "500px" }, 500, function() {
        $(".login-form .gif-container").fadeIn(500);
      });
      $(".login-form h1, .login-form p, .input-group, .input-group label, .input-group input, .input-group input:focus, .button-container, .button, .logo, .error-message").fadeOut(500);
    });
  });
</script>
<body>
<div class="login-form">
  <img class="logo" src="/img/NotesLogo.png" alt="Logo">
  <h1>Recover Password</h1>
  <p>Enter your email to recover your password</p>
  <form action="/recover" method="post">
    <div class="input-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Enter your email" required>
    </div>
    <div class="button-container">
      <button class="button" type="submit">Recover</button>
    </div>
    <!-- Отображение ошибки восстановления пароля -->
    <p th:if="${error}" class="error-message">Invalid email</p>
    <div class="gif-container" style="display: none;">
      <img src="/img/mail-download.gif" alt="GIF" width="498" height="498">
    </div>
  </form>
</div>
</body>
</html>