/* styles.css */
body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    width: 1920px;
    height: 100%;
    background-color: #f0f0f0;
}

.image1 {
    position: absolute;
    left: 214px; /* Уменьшил на 60 пикселей */
    top: 5px;
}

.image2 {
    position: absolute;
    left: 200px; /* Уменьшил на 60 пикселей */
    top: 453px;
}

.text {
    position: absolute;
}

.button {
    display: inline;
    background-color: transparent;
    color: #000000;
    font-size: 37pt;
    border: none;
    font-family: "Arial Rounded MT Bold", sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.text1 {
    left: 1300px; /* Уменьшил на 60 пикселей */
    top: 66px;
}

.text2 {
    left: 1520px; /* Уменьшил на 60 пикселей */
    top: 66px;
}

.text3 {
    font-size: 76.35pt;
    text-align: center;
    font-family: "Berlin Sans FB", sans-serif;
    left: 428px; /* Уменьшил на 60 пикселей */
    top: 200px;
}

.text4, .text5, .text6, .text7, .text8, .text9 {
    font-size: 19.93pt;
    font-family: "Berlin Sans FB", sans-serif;
    left: 1231px; /* Уменьшил на 60 пикселей */
}
.text4 {
    top: 483px;
}
.text5 {
    top: 517px;
}
.text6 {
    top: 680px;
}
.text7 {
    top: 712px;
}
.text8 {
    top: 888px;
}
.text9 {
    top: 921px;
}
