/* Общие стили */
body {
    margin: 0;
    padding: 0;
    position: relative;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(0); /* Изначально нет блюра */
}



/* Адаптивные стили */
.black-rectangle {
    width: 322px;
    height: 100vh;
    background-color: #282828;
    border-right: 2px solid white;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-container {
    position: absolute;
    top: 40px;
    left: 42px;
    display: flex;
    align-items: center;
    cursor: pointer; /* Добавили курсор-указатель */
}

.logo {
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 50%;
    margin-right: 5px
}

.arrow {
    width: 15px;
    height: 15px;
    background-image: url('https://api.iconify.design/mingcute/down-line.svg');
    background-size: cover;
    margin-left: 5px;
    transition: transform 0.3s ease; /* Добавили плавную анимацию */
    filter: invert(1);
}

.settings-tab {
    max-width: 200px;
    display: none;
    position: absolute;
    top: 90px;
    right: 10px;
    background-color: #7a7a7a;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.username {
    color: white;
    font-size: 16px;
    margin-left: 5px;
}

/* Добавили стили для кнопок во вкладке */
.tab-button {
    margin-top: 10px;
    cursor: pointer;
    padding: 8px 12px;
    background-color: #f1f1f1;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.tab-button:hover {
    background-color: #adadad;
}

.profile-window {
    width: 300px;
    height: 200px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    background-color: #7a7a7a;
    padding: 20px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.profile-window p {
    margin-top: 35px; /* Добавляем маргин сверху к тексту */
}


.coordinate-text {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 30px;
    left: 400px;
}

.coordinate-date {
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 60px;
    right: 77px;
}

.custom-slider {
    width: 100%;
    height: 20px;
    background-color: #ccc;
    border: none;
    border-radius: 10px;
    outline: none;
    transition: background-color 0.3s ease;
    -webkit-appearance: none;
    appearance: none;
}

.custom-slider::-webkit-slider-thumb {
    width: 30px;
    height: 30px;
    background-color: #007bff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    transition: background-color 0.3s ease;
}

.custom-slider::-webkit-slider-thumb:hover {
    background-color: #0056b3;
}

.custom-slider:focus {
    outline: none;
}



.big-settings-window {
    width: 1000px;
    height: 600px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);;
    background-color: #7a7a7a;
    padding: 20px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.background-image {
    width: 250px;
    height: 150px;
    border: 2px solid white; /* Добавили белую границу */
    cursor: pointer;
    margin: 10px;
    transition: border-color 0.3s ease;
}

.avatar-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white; /* Добавили белую границу */
    cursor: pointer;
    margin: 10px;
    transition: border-color 0.3s ease;
}

.avatar-image:hover,
.background-image:hover {
    border-color: #adadad; /* Изменяем цвет границы при наведении */
}


.backgrounds {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: auto;
    padding-bottom: 10px;
}

.avatars {
    display: flex; /* Добавили flex-контейнер */
    flex-wrap: nowrap; /* Запретили перенос элементов на новую строку */
    align-items: center; /* Выравнивание элементов по вертикали */
    overflow-x: auto; /* Горизонтальный скроллинг, если элементов много */
    padding-bottom: 10px; /* Добавили отступ снизу */
}

.avatar,
.background {
    flex: 0 0 auto; /* Отключили увеличение элементов по ширине */
    margin-right: 10px; /* Добавили отступ между элементами */
}
