/* Общие стили */
body {
    margin: 0;
    padding: 0;
    position: relative;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(0); /* Изначально нет блюра */
}



/* Адаптивные стили */
.black-rectangle {
    width: 322px;
    height: 100vh;
    background-color: #282828;
    border-right: 2px solid white;
}

.all-notes {
    position: absolute;
    width: 1300px;
    height: 700px;
    max-height: 700px; /* Максимальная высота */
    overflow-y: scroll; /* Включить вертикальный ползунок, если контент превышает высоту */
    background-color: #282828;
    border-radius: 20px;
    border: 2px solid white;
    top: 500px;
    left: 1100px;
    transform: translate(-50%, -50%) scale(0); /* Изменено для анимации */
    opacity: 0; /* Изменено для анимации */
    transition: transform 0.3s ease, opacity 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    display: flex; /* Добавлено для отображения */
    flex-wrap: wrap;
}
.all-notes::-webkit-scrollbar {
    width: 12px; /* Ширина полосы прокрутки */
    border-radius: 6px; /* Закругленные углы для полосы прокрутки */
}

.all-notes::-webkit-scrollbar-track {
    background: #f1f1f1; /* Цвет фона полосы прокрутки */
    border-radius: 6px; /* Закругленные углы для фона полосы прокрутки */
    margin-bottom: 20px;
    margin-top: 20px;
}

.all-notes::-webkit-scrollbar-thumb {
    border: 2px solid #f1f1f1;
    background: #888; /* Цвет полосы прокрутки */
    border-radius: 6px; /* Закругленные углы для полосы прокрутки */
}

.all-notes::-webkit-scrollbar-thumb:hover {
    background: #555; /* Цвет полосы прокрутки при наведении */
    border-radius: 6px; /* Закругленные углы для полосы прокрутки при наведении */
}




.redirect-link {
    position: absolute;
    margin-top: -832px;
    margin-left: 43px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}

.redirect-link:hover {
    color: #afafaf;
}

.notes-close-button {
    position: absolute; /* шо это шо абсолют все равно он поддается скроллу */
    top: 20px;
    right: 20px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.every-note {
    width: 200px;
    height: 300px;
    background-color: #5A5A5A;
    border-radius: 20px;
    margin: 20px;
    color: white; /* Цвет текста внутри заметки */
}

.note-header {
    text-align: center;
    padding: 10px;
    background-color: #030000; /* Цвет заголовка внутри заметки */
    border-radius: 20px 20px 0 0; /* Закругленные верхние углы */
}

.note-header h2 {
    margin: 0;
    word-wrap: break-word; /* Для поддержки переноса слов */
}

.note-timestamp {
    font-size: 12px;
    margin-top: 200px;
    position: fixed;

}

.note-content {
    padding: 10px;
}





.logo-container {
    position: absolute;
    top: 40px;
    left: 42px;
    display: flex;
    align-items: center;
    cursor: pointer; /* Добавили курсор-указатель */
}

.logo {
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 50%;
    margin-right: 5px
}

.arrow {
    width: 15px;
    height: 15px;
    background-image: url('https://api.iconify.design/mingcute/down-line.svg');
    background-size: cover;
    margin-left: 5px;
    transition: transform 0.3s ease; /* Добавили плавную анимацию */
    filter: invert(1);
}

.rectangle {
    width: 1300px;
    height: 700px;
    background-color: #282828;
    position: absolute;
    border-radius: 20px;
    border: 2px solid white;
    top: 500px;
    left: 1100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    transform: translate(-50%, -50%);
}

.rectangle::before {
    content: "NOTES >";
    position: absolute;
    top: 30px; /* Расположение от верхнего края */
    left: 30px; /* Расположение от левого края */
    color: white; /* Цвет текста */
    font-size: 40px; /* Размер текста */
    font-weight: bold; /* Жирный шрифт, если нужно */
}

.add-notes {
    width: 100px;
    height: 100px;
    background-image: url('https://api.iconify.design/mdi/note-add.svg');
    background-size: cover;
    margin-left: 50px;
    margin-top: 30px;
    transition: transform 0.3s ease; /* Добавили плавную анимацию */
    filter: invert(1);
}

.rectangle-notes {
    width: 200px;
    height: 300px;
    background-color: #5A5A5A;
    position: absolute;
    border-radius: 20px;
    top: 500px;
    left: 580px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.rectangle-notes:hover {
    opacity: 0.7;
}

.note-popup {
    width: 300px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    border-radius: 20px;
    top: 500px;
    left: 1100px;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.note-popup.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #333;
}

.note-content {
    height: 60%;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

textarea {
    width: 220px;
    height: 240px;
    border: none;
    resize: none;
    padding: 10px;
    font-size: 16px;
    margin-top: 30px;
    border-radius: 20px;
}

#text {
    line-height: 23px;
    display: block;
    width: 220px;
    height: 40px;
    border: none;
    resize: none;
    padding: 10px;
    font-size: 16px;
}

    .save-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    margin-left: 65px;
}

.save-button:hover {
    background-color: #555;
}

.rectangle-notes::before {
    content: "Create new note";
    text-align: center; /* Выравнивание текста по центру по горизонтали */
    line-height: 1.5;   /* Межстрочный интервал для выравнивания по вертикали */
    position: absolute;
    top: 170px; /* Расположение от верхнего края */
    color: white; /* Цвет текста */
    font-size: 35px; /* Размер текста */
    font-weight: bold; /* Жирный шрифт, если нужно */
}

.settings-tab {
    max-width: 200px;
    display: none;
    position: absolute;
    top: 90px;
    right: 10px;
    background-color: #7a7a7a;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.username {
    color: white;
    font-size: 16px;
    margin-left: 5px;
    transition: color 0.3s ease; /* Добавляем анимацию для цвета текста при наведении */
}

.username:hover {
    color: #afafaf; /* Изменяем цвет текста при наведении */
}

/* Добавили стили для кнопок во вкладке */
.tab-button {
    margin-top: 10px;
    cursor: pointer;
    padding: 8px 12px;
    background-color: #f1f1f1;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.tab-button:hover {
    background-color: #adadad;
}

.profile-window {
    width: 300px;
    height: 200px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    background-color: #7a7a7a;
    padding: 20px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.profile-window p {
    margin-top: 35px; /* Добавляем маргин сверху к тексту */
}


.coordinate-text {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 30px;
    left: 400px;
}

.coordinate-date {
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 60px;
    right: 77px;
}

.custom-slider {
    width: 100%;
    height: 20px;
    background-color: #ccc;
    border: none;
    border-radius: 10px;
    outline: none;
    transition: background-color 0.3s ease;
    -webkit-appearance: none;
    appearance: none;
}

.custom-slider::-webkit-slider-thumb {
    width: 30px;
    height: 30px;
    background-color: #007bff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    transition: background-color 0.3s ease;
}

.custom-slider::-webkit-slider-thumb:hover {
    background-color: #0056b3;
}

.custom-slider:focus {
    outline: none;
}



.big-settings-window {
    width: 1000px;
    height: 600px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);;
    background-color: #7a7a7a;
    padding: 20px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.background-image {
    width: 250px;
    height: 150px;
    border: 2px solid white; /* Добавили белую границу */
    cursor: pointer;
    margin: 10px;
    transition: border-color 0.3s ease;
}

.avatar-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white; /* Добавили белую границу */
    cursor: pointer;
    margin: 10px;
    transition: border-color 0.3s ease;
}

.avatar-image:hover,
.background-image:hover {
    border-color: #adadad; /* Изменяем цвет границы при наведении */
}


.backgrounds {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: auto;
    padding-bottom: 10px;
}

.avatars {
    display: flex; /* Добавили flex-контейнер */
    flex-wrap: nowrap; /* Запретили перенос элементов на новую строку */
    align-items: center; /* Выравнивание элементов по вертикали */
    overflow-x: auto; /* Горизонтальный скроллинг, если элементов много */
    padding-bottom: 10px; /* Добавили отступ снизу */
}

.avatar,
.background {
    flex: 0 0 auto; /* Отключили увеличение элементов по ширине */
    margin-right: 10px; /* Добавили отступ между элементами */
}


